html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #808080; 
    box-sizing: border-box;
}

    /* Main */

#products, #products__description, #cart, #order-form, #confirmation {
        max-width: 1280px;
        margin: 0 auto;
}

    /* NAV */

.navbar-brand {
    font-size: 45px;
    font-family: 'Kaushan Script';
    color: white;
}

.nav-icons {
    display: flex;
}

.nav-link i {
    border: 2px solid white;
    padding: 1rem;
    border-radius: 10px;
}

#nav-icon {
    color: white;
    font-size: 15px;
}

header {
    margin-top: 85px;
    background: url('../images/reflex11.jpg');
    background-size: cover;
    height: 55vh;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-bottom: 5px solid black;
}

#presentation h1 {
	text-align: center;
	margin-top: 110px;
	font-weight: 500;
	font-size: 80px;
	color: #f1f1f1;
	padding-bottom: 10px;
}

.title-bandeau {
    font-family: 'Kaushan Script';
    font-size: 130px;
}

.title {
    color:white;
    font-family: 'Handlee', cursive;
    font-size: 40px;
}

.btn {
    background-color: #A9A9A9;
    color: white;
}

    /* Products */

#cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 65px;
}

.card {
    background-color: #F8F8FF;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.card__image {
    
}

.products--error {
    font-size: 5em;
    color: #999;
    margin: 40px 0 40px 0;
}

    /* Product description */
.card__description--image > img {
    width: 100%;
    height: auto;
}

.card__description--info {
    padding-left: 10px;
}

#description__id {
    font-size: 0.8em;
}

#description__option {
    width: 180px;
    height: 25px;
}

#description__quantity {
    width: 172px;
    height: 25px;
}

    /* Cart */

.cart-img {
    width: 100px;
    height: 65px;
}
.fa-minus-square, .fa-plus-square, .fa-trash-alt {
    cursor: pointer;
}

    /* FORMULAIRE */

.title-form {
    color:black;
    font-family: 'Handlee', cursive;
    font-size: 30px;
}

#form {
    background-color: #F8F8FF;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

form {
    max-width: 900px;
    margin: 0 auto;
}

#form em {
    color: #ff0000;
}

#form input {
    padding: 8px 5px;
    border-radius: 3px;
    width: 100%;
    font-family: 'Arial';
    border: 1px solid;
}

#form .submit {
    margin-top: 8px;
    width: 100%;
    padding: 8px 0;
    border-radius: 3px;
    background-color: #A9A9A9;
    color: white;
}

#form .submit:hover {
    background-color: #76787a;
    color: white;
}

/* Confirmation */

.confirmation > i {
    font-size: 5em;
    color: green;
    margin: 30px 0 40px 0;
} 

.title-confirmation{
    color:black;
    font-family: 'Handlee', cursive;
    font-size: 2.5rem;
}


   /* Tablette */
   @media screen and (min-width: 768px) and (max-width: 991px) {
    /* Header */  
        nav img {
            width: 100%;
        }
        .fa-shopping-bag {
            padding-right: 25px;
        }
    /* Main */
        /* index.html */
            /* Presentation */
                .jmb-text h1 {
                    font-size: 5em;
                }
                .jmb-text h2 {
                    font-size: 1.73em;
                }
            /* Products */
                #cards {
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
                #products__card {
                    width: 48%;
                }
                .card-image {
                    max-height: 230px;
                }
                .card-body h3, h6 {
                    font-size: 1.2em;
                }
        /* produit.html */
            /* Product description */
                .customer_input {
                    display: flex;
                    flex-direction: row;
                }
                .option {
                    width: 60%;
                }
                .quantity {
                    width: 40%;
                }
                #description__option {
                    width: 180px;
                }
                #description__quantity {
                    width: 100px;
                }
}

     /* Desktop */
    @media screen and (min-width: 992px) {
        /* Header */  
            nav img {
                width: 100%;
            }
            .fa-shopping-bag {
                padding-right: 25px;
            }
        /* Main */
            /* Max-width */
            #products, #products__description, #cart, #order-form, #confirmation {
                max-width: 1280px;
                margin: 0 auto;
            }
            /* index.html */
                /* Presentation */
                    .jmb-text h1 {
                        font-size: 6.5em;
                    }
                    .jmb-text h2 {
                        font-size: 1.5em;
                    }
                /* Products */
                    #cards {
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                    #products__card {
                        width: 49%;
                    }
                    .card-image {
                        max-height: 305px;
                    }
            /* produit.html */
                /* Product description */
                    .card__description {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                    }
                    .card__description--image, .card__description--info {
                        width: 50%;
                    }
                    .card__description--info {
                        padding: 0 15px;
                    }
                    .customer_input {
                        display: flex;
                        flex-direction: row;
                    }
                    .option {
                        width: 60%;
                    }
                    .quantity {
                        width: 40%;
                    }
                    #description__option {
                        width: 170px;
                    }
                    #description__quantity {
                        width: 80px;
                    }
    }