body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #878b8f; 
    box-sizing: border-box;
}

.breadcrumb-item {
    font-family: 'Handlee', cursive;
}

    /* NAV */

.navbar-brand {
    font-size: 30px;
    font-family: 'Kaushan Script';
}

#navbarCollapse a {
    font-size: 20px;
}

.navbar-toggler-icon {
    font-size: 20px;
}

	/* HEADER */

header {
        background: url('../images/reflex11.jpg');
        background-size: cover;
        height: 55vh;
        background-position: bottom;
        background-attachment: fixed;
        background-repeat: no-repeat;
}

#presentation h1 {
	text-align: center;
	margin-top: 160px;
	font-weight: 500;
	font-size: 80px;
	color: #f1f1f1;
	padding-bottom: 10px;
}

.title-bandeau {
    font-family: 'Kaushan Script';
    font-size: 130px;
}

    /* CARDS */

.categories {
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
      
article {
    height: 30rem;
    width: 20rem;
    background-color: #e9ecef;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
      
article a {
    text-align: center;
    margin-bottom: 1rem;
}
     
. img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    height: 50%;
    margin-bottom: 0.5rem;
}
      
.blockDescription {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0.5rem;
}
      
article p {
    text-align: center;
    margin-bottom: 1.5rem;
}

.btn:hover {
    transition: 0.5s ease-in-out;
}

    /* page produit */

.appareil {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #e9ecef;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
      
.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    text-align: center;
}
      
.appareil img {
    object-fit: cover;
    width: 50%;
}

select {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}
 
#panier:active {
    background-color: #76787a;
    color: black;
}

#panier:hover {
    transition: 0.5s ease-in-out;
}

    /* PANIER */

.card {
    margin: 50px auto;
    background-color: #f1f1f1;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

td ,th{
    border: 2px solid black;
    vertical-align: middle;
}
      
table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
 
.buttom {
    margin: 0 auto;
    width: 200px;
}     
     
.viderPanier, .confirmation {
    margin-top: 2rem;
    background-color: white;
    color:black;
    transition: 0.5s ease-in-out;
}
     
.viderPanier:active {
    background-color: #76787a;
    color: black
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td img {
    width: 150px;
}

    /* FORMULAIRE */

#formulaire {
    background-color: #f1f1f1;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

form {
    max-width: 900px;
    margin: 0 auto;
}

#formulaire .title {
    font-family: 'Handlee', cursive;
    font-size: 25px;
    margin: 20px 0;
}

#formulaire em {
    color: #ff0000;
}

#formulaire input {
    padding: 8px 0;
    border-radius: 3px;
    width: 100%;
    font-family: 'Arial';
    border: 1px solid;
}

#formulaire .submit {
    margin-top: 8px;
    width: 100%;
    padding: 8px 0;
    border-radius: 3px;
    background-color: #ffffff;
}

#formulaire .submit:hover {
    background-color: #76787a;
    color: white;
    transition: 0.5s ease-in-out;
}

    /* confirmation de commande */

.about {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color: #e9ecef;
    border: 2px solid black;
    border-radius: 10px;
}

.item {
    font-family: 'Handlee', cursive;
    text-align: center;
}
 
    /* FOOTER */

footer {
    background: #e9ecef;
    margin-top: 20px;
    bottom: 0px;
    height: 50px;
}

.logo-footer {
   padding: 15px 0 8px 0;
}

@media screen and (max-width: 720px) {
    table {
        font-size: 0.6rem;
        height: 4rem !important;
        margin: 0 auto;
        width: 100px;
    }
}


@media screen and (max-width: 576px) {
    .appareil {
        flex-direction: column;
    }

    .srcimage {
        display: none;
    }

    table, td, th {
        font-size: 0.6rem;
        height: 4rem !important;
    }
}
