body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #878b8f; 
    box-sizing: border-box;
}

.breadcrumb-item {
    font-family: 'Handlee', cursive;
}

    /* NAV */

.navbar-brand {
    font-size: 30px;
    font-family: 'Kaushan Script';
}

#navbarCollapse a {
    font-size: 20px;
}

.navbar-toggler-icon {
    font-size: 20px;
}

.title-bandeau {
    font-family: 'Kaushan Script';
    font-size: 100px;
}

	/* HEADER */

header {
        background: url('../images/reflex11.jpg');
        background-size: cover;
        height: 55vh;
        background-position: bottom;
        background-attachment: fixed;
        background-repeat: no-repeat;
}

#presentation h1 {
	text-align: center;
	margin-top: 160px;
	font-weight: 500;
	font-size: 80px;
	color: #f1f1f1;
	padding-bottom: 10px;
}

    /* CARDS */

.categories {
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
      
article {
    height: 30rem;
    width: 20rem;
    background-color: #e9ecef;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
      
article a {
    text-align: center;
    margin-bottom: 1rem;
}
     
.produit img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    height: 55%;
    margin-bottom: 0.5rem;
}
      
.blockDescription {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0.5rem;
}
      
article p {
    text-align: center;
    margin-bottom: 1.5rem;
}

    /* page produit */

.appareil {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #e9ecef;
    padding: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
      
.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}
      
.appareil img {
    object-fit: cover;
    width: 50%;
}

select {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
  
.appareil-description,
.nom {
    margin-top: 0.5rem;
}
  
#panier:active {
    background-color: grey;
    color: black;
     font-weight:bold;
  
}

	/* FORMULAIRE */

#formulaire {
    background-color: #f1f1f1;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

form {
    max-width: 900px;
    margin: 0 auto;
}

#formulaire .title {
    font-family: 'Handlee', cursive;
    font-size: 25px;
    margin: 20px 0;
}

#formulaire em {
    color: #ff0000;
}

#formulaire input {
    padding: 8px 0;
    border-radius: 3px;
    width: 100%;
    font-family: 'Arial';
    border: 1px solid;
}

#formulaire #submit {
    margin-top: 8px;
    width: 100%;
    padding: 8px 0;
    border-radius: 3px;
    background-color: #ffffff;
}

#formulaire #submit:hover {
    background-color: #76787a;
    color: #000000;
    transition: 0.4s ease-in-out;
}

    /* confirmation de commande */

.about {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color: #e9ecef;
}

.item {
    font-family: 'Handlee', cursive;
    text-align: center;
}
 
    /* FOOTER */

footer {
    background: #e9ecef;
    margin-top: 20px;
    bottom: 0px;
    height: 50px;
}

.logo-footer {
   padding: 15px 0 6px 0;
    
}
